<html>
<head>
  <title><%= t('common.title') %></title>
</head>
<body>

<h1><%= t('home.title') %></h1>
<div><%- markdown(t('home.intro')) %></div>

<footer>
  <ul>
    <li><a href="/terms">Terms and conditions</a></li>
    <li><a href="/privacy">Privacy Policy</a></li>
  </ul>
</footer>

</body>
</html>