<html>
<body>

<a href="?language=en"><%= t('langs.en') %></a>
<a href="?language=fr"><%= t('langs.fr') %></a>
<a href="?language=es"><%= t('langs.es') %></a>

<h1><%= t('main.title') %></h1>

</body>
</html>